module {{ .package_import_path }}

go 1.20

require (
    github.com/loopholelabs/polyglot {{ .polyglot_version }}
    github.com/loopholelabs/scale-extension-interfaces {{ .scale_extension_interfaces_version }}
)