module compile

go 1.20
{{ if .signature.Local }}
replace signature v0.1.0 => {{ .signature.ImportPath }}
{{ else }}
replace signature v0.1.0 => {{ .signature.ImportPath }} {{ .signature.ImportVersion }}
{{ end }}

replace {{ .function.PackageName }} v0.1.0 => {{ .function.ImportPath }}

require (
    signature v0.1.0
    {{ .function.PackageName }} v0.1.0
)