module {{ .package }}

go 1.20

replace {{ .old_signature_dependency }} {{ .old_signature_version }} => {{ .new_signature_dependency }} {{ .new_signature_version }}
replace {{ .old_function_dependency }} {{ .old_function_version }} => {{ .new_function_dependency }} {{ .new_function_version }}

{{ range $dependency := .dependencies -}}
    require {{ $dependency.Name }} {{ $dependency.Version }}
{{end -}}