{
    "name": "{{ .package_name }}",
    "version": "{{ .package_version }}",
    "description": "{{ .package_schema.Description }}",
    "main": "index.ts",
    "dependencies": {
        "signature": "
    },
}