{
    "name": "compile",
    "version": "0.1.0",
    "main": "index.ts",
    "dependencies": {
        {{ if .signature.Local }}
        "signature": "file:{{ .signature.ImportPath }}"
        {{ else }}
        "signature": "{{ .signature.ImportPath }}"
        {{ end }}
    }
}