{
    "name": "compile",
    "version": "0.1.0",
    "description": "{{ .package_schema.Description }}",
    "main": "index.ts",
    "dependencies": {
        {{ if .signature_path }}
        "signature": "file:{{ .signature_path}}"
        {{ end }}
        {{ if .signature_version }}
        "signature": "{{ .signature_version }}"
        {{ end }}
    }
}