[package]
edition = "2021"
name = "{{ .package }}"
version = "{{ .version }}"

[profile.release]
opt-level = 3
lto = true
codegen-units = 1

[lib]
path = "guest.rs"

[dependencies.num_enum]
version = "0.7.0"

[dependencies.regex]
version = "1.9.4"

[dependencies.polyglot_rs]
version = "{{ .polyglot_version }}"

{{- if .scale_version -}}
[dependencies.scale_rs]
version = "{{ .scale_version }}"
{{- end -}}
