name: Test

on:
  pull_request:
    branches:
      - "*"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.19"
          check-latest: true
          cache: true

      - name: Install Tinygo
        uses: acifani/setup-tinygo@v1
        with:
          tinygo-version: 0.26.0

      - name: Test
        run: GOPROXY=direct go test -v ./...
